<header id="header-box">
    <div id="header">
	<div class="nav-bar-container">
	    <a href="{{ common.baseUrl }}/index.html" rel="home" id="home">
		<div class="page-heading">Kira Wulff</div>
	    </a>
	    <nav>
		<a href="{{ common.baseUrl }}/blog.html" id="blog">
		    <div class="nav-text">blog</div>
		</a>
		<a href="{{ common.baseUrl }}/resume.html" id="resume">
		    <div class="nav-text">resume</div>
		</a>
		<a href="{{ common.baseUrl }}/resources.html" id="resources">
		    <div class="nav-text">resources</div>
		</a>
	    </nav>
	</div>
    </div>
    <div id="header-rect-1"></div>
    <div id="header-rect-2"></div>
</header>
