<?xml version="1.0" encoding="UTF-8"?>
<rss xmlns:atom="http://www.w3.org/2005/Atom" xmlns:content="http://purl.org/rss/1.0/modules/content/" version="2.0">
  <channel>
    <title>Kira Wulff</title>
    <link>{{ common.baseUrl }}</link>
    <description><![CDATA[A classic and classy blog about things that I find interesting]]></description>
    <language>en-us</language>
    <copyright>Copyright {{year common.lastBuildDate}}, Kira Wulff</copyright>
    <lastBuildDate>{{rfc5322 common.lastBuildDate}}</lastBuildDate>
    <webMaster>kira@kirawulff.space (Kira Wulff)</webMaster>
    <docs>https://www.rssboard.org/rss-specification</docs>
    <image>
      <url>
        {{ common.baseUrl }}/favicon.png
      </url>
      <title>Kira Wulff</title>
      <link>{{ common.baseUrl }}</link>
      <width>32</width>
      <height>32</height>
    </image>
    <atom:link href="{{ common.baseUrl }}/rss.xml" rel="self" type="application/rss+xml"/>
  {{#each posts}}
  <item>
    <title>{{ this.page.pageMetadata.title }}</title>
    <link>{{ ../common.baseUrl }}/{{ this.page.pageMetadata.slug }}</link>
    <pubDate>{{rfc5322 this.created}}</pubDate>
    {{#if category}}
    <category><![CDATA[{{{ this.page.pageMetadata.category }}}]]></category>
    {{/if}}
    <guid isPermaLink="true">{{ ../common.baseUrl }}/{{ this.page.pageMetadata.slug }}</guid>
    <description><![CDATA[{{{ this.page.pageMetadata.summary }}}]]></description>
    <content:encoded><![CDATA[
      {{{ this.post }}}
      ]]>
    </content:encoded>
    {{#if this.page.pageMetadata.headerImage}}
    <media:content url="{{ this.page.pageMetadata.headerImage }}" medium="image"/>
    {{/if}}
  </item>
  {{/each}}
  </channel>
</rss>
