{{setMetadata "Blog" "A collection of musings"}}  
<h1>Blog</h1>
<a href="{{ common.baseUrl }}/rss.xml">{{{icon 'rss'}}} rss</a>

<div class="blog-grid"> 
  {{#each posts}}
    <div class="blog-grid-item">
        <h2><a class="blog-grid-item-hyperlink" href="{{ ../common.baseUrl }}/{{ this.page.pageMetadata.slug }}">{{ this.page.pageMetadata.title }}</a></h2>
        <p class="datetime">{{{ date this.created }}}</p>
        <p>{{ this.page.pageMetadata.summary }}</p>
    </div>
  {{/each}}
</div>

