{{setMetadata "Kira Home" "The personal homepage of Kira Wulff"}}  
<h1>The personal homepage of Kira Wulff</h1>

<p>
Hi, I'm Kira, and this is my homepage. They don't necessarily tell you what to put on a homepage, so here goes:
</p>
<p>
I am a space systems engineer and software engineer.
</p>
<p>
In the space domain, I've been particularly involved with real-time estimation, including sequential filtering, correlation, maneuver handling, and frame transformations. I've also worked in training, where I've helped train estimation in Remote Proximity Operations (RPO) situations, and helped develop computer aids and simulations.
</p>
<p>
As a software engineer, I cut my teeth in university developing embedded applications in C. Professionally, I've primarily focused on backend and data science applications in C++ and Python, but I've also worked as a full stack engineer and dabbled in Typescript, Rust, and C#.
</p>

<h2>On the Internet</h2>
<ul>
    <li>{{{icon 'gitlab'}}} <a href="https://gitlab.com/kirawulff">@kirawulff</a></li>
    <li>{{{icon 'github'}}} <a href="https://github.com/kwcolo">kwcolo</a></li>
    <li>Bluesky <a href="https://bsky.app/profile/kirawulff.space">@kirawulff.space</a></li>
    <li>Mastodon <a href="https://tech.lgbt/@kw">@kw@tech.lgbt</a></li>
</ul>
