{{setMetadata "Kira Wulff Resume" "Work and accomplishments"}}  
<a href="{{ common.baseUrl }}/kira-resume.pdf">pdf</a> ◆ <a href="{{ common.baseUrl }}/kira-resume.json">json</a>
{{{ common.resume }}}
