
<h1>{{{ post.page.pageMetadata.title }}}</h1>
{{#if post.page.pageMetadata.headerImage}}
<div class="header-image">
    <img src={{{ post.page.pageMetadata.headerImage }}} alt="header image"/>
</div>
{{/if}}
<p class="datetime"> {{{ date post.created }}} updated: {{{ date post.updated }}}  </p>
<p class="post-summary"> {{{ post.page.pageMetadata.summary }}} </p>
<hr>
{{{ post.page.document }}}

