<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> {{ pageMetadata.title }} </title>
    <meta name="description" content="{{ pageMetadata.summary }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Open Graph Meta Tags -->
    <meta property="og:title" content="{{ pageMetadata.title }}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{common.baseUrl}}/{{pageMetadata.slug}}">
    <meta property="og:site_name" content="{{ common.title }}">
    <meta property="og:description" content="{{ pageMetadata.summary }}">
    {{#if pageMetadata.headerImage}}
    <meta property="og:image" content="{{ pageMetadata.headerImage }}">
    {{/if}}

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:domain" content="{{common.baseUrl}}">
    <meta property="twitter:title" content="{{ pageMetadata.title }}">
    <meta property="twitter:url" content="{{common.baseUrl}}/{{pageMetadata.slug}}">
    <meta property="twitter:description" content="{{ pageMetadata.summary }}">
    {{#if pageMetadata.headerImage}}
    <meta property="twitter:image" content="{{ pageMetadata.headerImage }}">
    {{/if}}

    <link rel="icon" href="{{common.baseUrl}}/favicon.svg" type="image/svg+xml">
    <link rel="stylesheet" type="text/css" href="{{common.baseUrl}}/css/tokyo-night-dark.min.css">
    <script type="text/javascript" src="{{common.baseUrl}}/scripts/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>
    <link rel="stylesheet" href="{{common.baseUrl}}/css/{{common.style}}">
</head>
<body>
    {{> header}}
    <div class="body-content">
        {{{ body }}}
    </div>
    {{> footer}}
</body>
</html>
